---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <div class="w-full flex justify-center items-center flex-col">
    <div class="w-11/12 sm:w-3/4 max-w-2xl my-30 mt-40 bg-gray-800 text-white rounded-xl p-10 ">
      <h1 class="text-5xl font-header">About</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</Layout>
