---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <div class="w-full flex justify-center items-center flex-col ">
    <div class="w-11/12 sm:w-3/4 max-w-2xl my-30 bg-gray-900 text-gray-300 rounded-xl p-10 ">
      <h1 class="text-4xl font-header">About</h1>
      <p class="text-lg">This article is meant to be used as a way to educate and inform people of the sustainability issues that AI data centers around the U.S cause. My name is Brandon Romero and alongside my group mates Devin Malone and Kristin Gonzalez created this article to educate the public on AI data centers. We are students of Delaware Technical Community College working on an assignment for our sustainability and society class using a web article and flyers to promote being informed on sustainability topics.</p>
    </div>
  </div>
</Layout>
