---
import Layout from '../layouts/Layout.astro';
const stockImg = "https://images.unsplash.com/photo-1584169417032-d34e8d805e8b?q=80&w=2018&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
---
<Layout>
  <div class="w-full flex justify-center flex-col items-center">
    <div class="w-full flex flex-col md:flex-row justify-center">

    <!-- <div class="w-11/12 sm:w-3/4 max-w-2xl my-30 mt-40 bg-gray-800 text-white rounded-xl p-10 "> -->
      <div class="w-full text-gray-200 bg-gray-800 flex p-5 justify-center items-center flex-col font-header ">
        <div class="md:border-l-3 md:p-8 p-1 ml-5 ">
          <h1 class="text-2xl md:text-5xl text-gray-200">What are AI data centers?<br>And why should you care about them?</h1>
          <p class="text-base">Explaining what AI data centers do and how they can affect you.</p>
          <hr>
          <label class="w-full text-base font-bold">By: Brandon.R, Devin.M, Hector.C and Kristin.G</label>
          <br>
          <p class="text-sm">April 24, 2026</p>
        </div>
        <!-- <hr/> -->
      </div>
      <div class="w-full">
        <img src={stockImg}
             alt="background"
             class="w-full object-cover h-full shrink"
             >
      </div>
    </div>
    <div class="w-full flex justify-center">
      <div class="w-11/12 md:w-1/2 m-10 mt-15 text-lg">
        <p class="md:text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="md:text-xl">do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h1 class="text-2xl md:text-4xl">This is an image </h1>
        <img class="my-5 rounded" src={stockImg} alt="">
      </div>
    </div>
  </div>
</Layout>

<style>
h1{
  /* font-size: 38px; */
  font-weight: bold;
  /* margin-top: 10px; */
}
h2{
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
hr{
  color: white;
  width: 90%;
}

</style>
