---
---

<footer>
	<div class="social-links">
    <a href="" target="_blank">
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/twitter"
				><path
					fill="currentColor"
          d=""
				></path></svg
			>
		</a>
    <a href="" target="_blank" class="hover:bg-red">
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
          d=""
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: rgb(var(--black));
		color: rgb(var(--black));
		text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
    height: 10px;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--white));
	}
</style>
