---
const icon = "https://cdn-icons-png.flaticon.com/128/2602/2602412.png"
---

<header class="bg-gray-800 border-b border-gray-500 relative">
  <nav class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-center h-16 w-full">

      <!-- Logo pinned to the left -->
      <a href="/" class="absolute left-0 flex items-center shrink-0 ">
        <div class="w-12 h-12 rounded-lg bg-gray-200 flex items-center justify-center">
          <img src={icon} class="w-10 h-10"/>
        </div>
      </a>

      <!-- Nav truly centered -->
      <div class="flex items-center gap-0.5">
        <a href="/" class="relative text-gray-100 hover:bg-white/[0.06] hover:text-white px-3.5 py-1.5 text-lg">
          Home
        </a>
        <a href="/about" class="relative text-gray-100 hover:bg-white/[0.06] hover:text-white px-3.5 py-1.5 text-lg font-medium">
          About
        </a>
      </div>

    </div>
  </nav>
</header>
